<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    {{ with .Site.Params.videoBackground }}
        <video class="video" autoplay muted preload loop playsinline>
            {{ range .sources }}
                <source
                    src="{{ .source }}"
                    type="{{ .type }}"
                    poster="{{ .poster }}" />
            {{ end }}
        </video>
        {{ with .overlay }}
            <div id="overlay" style="background: {{ . | safeCSS }};"></div>
        {{ end }}
    {{ end }}

    <nav role="navigation" class="flex-container" id="splash">

        {{ if .Site.Params.headline }}
        {{ range .Site.Params.headline }}
          <p class="big-link">{{.text}}</p>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.headline }}
        {{ range .Site.Params.subTitle }}
          <p class="subtitle-link">{{.text}}</p>

        {{ end }}
        {{ end }}

        {{ if .Site.Params.subTitleLink }}
        {{ range .Site.Params.subTitleLink }}
          <a href="{{.link}}" class="small-link">{{.text}}</a>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="small-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="small-link">
                {{.Title | markdownify}}
            </a>
        {{ end }}
        {{ end }}

    </nav>
</body>

</html>
